/* Basic Reset */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Cinzel+Decorative:wght@400;700&family=Uncial+Antiqua&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/backgrounds/taskemon_blur.png');
    color: #ffe29f;
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding-top: 100px;
}

.contact-header {
    text-align: center;
    color: #ffe29f;
    padding: 70px 20px;
    font-size: 3em;
    font-family: 'Cinzel Decorative', serif;
}

.get-in-touch
{
    color: #ffe29f;
    font-family: 'EB Garamond', serif;
}
.contact-container {
    width: 85%;
    max-width: 800px;
    margin: -20px auto 60px;
    padding: 30px;
    background: rgba(18,26,19,0.95);
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    border: 3px solid transparent;
    background-image: 
        linear-gradient(rgba(18,26,19), rgba(18,26,19)),
        linear-gradient(#00ffaa, #00eaff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

h2 {
    font-size: 2.5em;
    color: #ffe29f;
    font-family: 'EB Garamond', serif;
    margin-bottom: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    text-align: left;
    font-weight: bold;
    color: #ffe29f;
    font-size: 1.2em;
}

.contact-form input, 
.contact-form textarea {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background: rgba(39, 95, 100, 0.468);
    border: 1px solid #58d8e4;
    color: #ffe29f; 
    font-size: 1em;
}

.contact-form input:focus, 
.contact-form textarea:focus {
    outline: none;
    box-shadow: 0 0 8px #ffe29f;
}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.cta-button {
    background-color: #61f2ff;
    color: #5b5133;
    font-size: 1.2em;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'IM Fell DW Pica', serif;  
}

.cta-button:hover {
    background-color: #ffe29f;
    color: #241b2f;
}