css for friend @import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Cinzel+Decorative:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/backgrounds/tree_house_blur.png');
    background-size: cover;
    color: #ffe29f;
    font-family: 'IM Fell DW Pica', serif;
    padding-top: 210px;
    display: flex;
    justify-content: center;
}

.friend-wrapper {
    width: 85%;
    margin: 50px auto;
    padding: 30px;
    background: rgba(18,26,19,0.95);
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    border: 3px solid transparent;
    background-image: 
        linear-gradient(rgba(18,26,19), rgba(18,26,19)),
        linear-gradient(#00ffaa, #00eaff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    display: flex;
    width: 85%;
    max-width: 1000px;
    max-height: 350px;

}

.friends_panel,
.request_panel {
    padding: 20px;
    text-align: center;
}

.friends_panel {
    flex: 3;
    overflow-y: auto;
}

.friends_panel::-webkit-scrollbar {
    width: 5px;
}
.friends_panel::-webkit-scrollbar-thumb {
    background: linear-gradient(#00ffaa, #00eaff);
    border-radius: 10px;
}
.friends_panel::-webkit-scrollbar-track {
    background-color: rgba(18,26,19);
}

.request_panel::-webkit-scrollbar {
    width: 5px;
}

.request_panel::-webkit-scrollbar-thumb {
    background: linear-gradient(#00ffaa, #00eaff);
    border-radius: 10px;
}

.request_panel::-webkit-scrollbar-track {
    background-color: rgba(18, 26, 19);
}

.request_panel {
    border-right: none; /* gets ride of the border on the right side of request panel */
    flex: 7;
    overflow-y: auto;
    direction: rtl;
}

.request_panel>* {
    direction: ltr;
    /* Resets direction for child elements */
}

h3 {
    font-family: 'Cinzel Decorative', serif;
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #ffefca;
}

.input-container {
    display: flex;
    align-items: center;
    background: rgba(39, 95, 100, 0.468);
    border: 1px solid #58d8e4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.input-container i {
    color: #ffe29f;
    margin-right: 10px;
}

.input-container input {
    background: transparent;
    border: none;
    color: #ffe29f;
    width: 100%;
    font-size: 1em;
    outline: none;
}

input[type="submit"] {
    background-color: #61f2ff;
    color: #5b5133;
    font-size: 1.2em;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'EB Garamond', serif;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ffe29f;
    color: #241b2f;
}

.success-message,
.error-message
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 55%;
    max-width: 300px;
    max-height: 100px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    border: 3px solid transparent;
    background: rgba(18,26,19);
    background-image: 
        linear-gradient(rgba(18,26,19), rgba(18,26,19)),
        linear-gradient(#00ffaa, #00eaff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.success-message,
.error-message  a {
    font-size: 1em;
    text-align: center;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
}

.error-message
{
    color: #db5966;
}

.success-message
{
    color: #c7a557;
}

.friends-list-container
{
    color: #c7a557;
}