@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Cinzel+Decorative:wght@400;700&family=Uncial+Antiqua&display=swap');
body {
    font-family: 'IM Fell DW Pica', serif;
    color: #e6d8af;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
}


.pet-display {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.pet-display img {
    position: absolute;
    left: 150px;
    top: 300px;   
    width: 600px;
    height: auto;
}

.cta-button {
    position: absolute;
    padding: 12px 24px;
    background-color: #f7e6a9;
    border: 3px solid #5a3b1d;
    border-radius: 15px;
    color: #5a3b1d;
    font-family: 'IM Fell DW Pica', serif;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    top: 450px;
    left: 480px;
    z-index: 10;
    box-shadow: 0 0 12px 4px rgba(69, 69, 68, 0.7); /* soft yellow glow */
}

.cta-button:hover {
    background-color: #f0d97a;
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 0 12px 4px rgba(247, 230, 169, 0.7); /* soft yellow glow */
}

/* Container for the hunger bar */
.hunger-bar-container {
    top: 390px;
    left: 380px;
    width: 300px;               /* Width of the hunger bar */
    height: 20px;               /* Height of the hunger bar */
    background-color: #5e0000;     /* Color for the empty portion */
    border: 5px solid #000000;   /* Dark brown border */
    border-radius: 10px;        /* Curved edges */
    overflow: hidden;           /* Hide any overflow */
    margin: 20px auto;          /* Center horizontally in its container */
    position: absolute;
}

/* Filled portion of the hunger bar */
.hunger-bar {
    height: 100%;
    background-color: #290000;  /* Red color for the filled section */
    transition: width 0.5s ease; /* Smoothly animate width changes */
    display: flex;              /* Use flexbox to center the text vertically and horizontally */
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Text showing the current hunger percentage */
.hunger-text {
    color: white;               
    font-weight: bold;
    font-size: 0.9rem;
    z-index: 2;              
}

.hunger-icon {
    background-color: #fff;    
    border-radius: 50%;          
    width: 40px;                 
    height: 40px;               
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    border: 3px solid black;
    position: absolute;
    z-index: 2;
}

.hunger-icon img {
    max-width: 30px;              
    max-height: 30px;
}

.hunger-fill {
    position: absolute;
    left: 0;   
    top: 0;
    bottom: 0;
    width: 0%;      /* initial width will be updated by PHP/JS */
    background: linear-gradient(to bottom right, #690202, #ff3232, rgb(255, 94, 94));
    border-radius: 10px;
    transition: width 0.5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Inventory Section */
.inventory-section {
    color: #ffe29f;
    font-family: 'IM Fell DW Pica', serif;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px;
    max-height: 800px;
    overflow-y: auto;
    background: rgba(18,26,19,0.95);
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 12px;
    z-index: 999; /* Ensure it stays on top */
    border: 3px solid transparent;
    background-image: 
        linear-gradient(rgba(18,26,19), rgba(18,26,19)),
        linear-gradient(#00ffaa, #00eaff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-weight: normal;
    overflow-y: auto;
}


/* Changing inventory h2 based on habitat */
.inventory-section h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #ffe29f;
    font-family: 'Cinzel Decorative', serif;
    font-weight: normal;
}


/* Changing inventory elements based on habitat */
.inventory-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* base */
.inventory-item {
    font-family: 'IM Fell DW Pica', serif;
    background: rgba(39, 95, 100, 0.468);
    border: 1px solid #00ffd0;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s ease;
    border: 1px solid #58d8e4;
    font-size: 1.2em;
}

.inventory-item:hover {
    background: rgba(73, 180, 190, 0.468);
    cursor: pointer;
}

.inventory-item.selected {
    border: 2px solid #00ffb3;
    background: rgba(61, 155, 163, 0.468);
    cursor: pointer;
}

.inventory-section::-webkit-scrollbar
{
    width: 5px;
}

.inventory-section::-webkit-scrollbar-track {
    background: rgba(18,26,19,0.95);
}
.inventory-section::-webkit-scrollbar-thumb {
    background: linear-gradient(#00ffaa, #00eaff);
    border-radius: 10px;
}


/* grove */
/* Changing inventory container based on habitat */
body.habitat-pleasant_grove .inventory-section {
    color: #ffe29f;
    font-family: 'IM Fell DW Pica', serif;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px;
    max-height: 800px;
    overflow-y: auto;
    background: rgba(13, 39, 16, 0.95);
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 12px;
    z-index: 999; /* Ensure it stays on top */
    border: 3px solid transparent;
    background-image: 
        linear-gradient(rgba(13, 39, 16, 0.95), rgba(13, 39, 16, 0.95)),
        linear-gradient(#135a25, #4dff00);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-weight: normal;
}

body.habitat-pleasant_grove .inventory-section h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #d4ff00;
    font-family: 'Cinzel Decorative', serif;
    font-weight: normal;
}

body.habitat-pleasant_grove .inventory-item {
    font-family: 'IM Fell DW Pica', serif;
    background: rgba(56, 81, 60, 0.95);
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s ease;
    color: #d4ff00;
    border: 1px solid #d4ff00;
    font-size: 1.2em;
}

body.habitat-pleasant_grove .inventory-item:hover {
    background: rgba(72, 114, 79, 0.95);
    cursor: pointer;
}

body.habitat-pleasant_grove .inventory-item.selected {
    border: 2px solid #c8ff00;
    background: rgba(87, 149, 97, 0.95);
    cursor: pointer;
}

body.habitat-pleasant_grove .inventory-section::-webkit-scrollbar
{
    width: 5px;
}

body.habitat-pleasant_grove .inventory-section::-webkit-scrollbar-track {
    background: rgba(13, 39, 16, 0.95);
}
body.habitat-pleasant_grove .inventory-section::-webkit-scrollbar-thumb {
    background: linear-gradient(#1f5c2c, #66ff66);
    border-radius: 10px;
}

/* springs */
body.habitat-sapphire_springs .inventory-section {
    color: #aefcff;
    font-family: 'IM Fell DW Pica', serif;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px;
    max-height: 800px;
    overflow-y: auto;
    background: linear-gradient(rgba(10, 69, 78, 0.95), rgba(0, 149, 171, 0.95));
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 12px;
    z-index: 999; /* Ensure it stays on top */
    border: 3px solid transparent;
    background-image: 
        linear-gradient(rgba(10, 69, 78, 0.95), rgba(0, 149, 171, 0.95)),
        linear-gradient(#0040ff, #00fbff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-weight: normal;
}

body.habitat-sapphire_springs .inventory-section h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #aefcff;
    font-family: 'Cinzel Decorative', serif;
    font-weight: normal;
}

body.habitat_sapphire_springs .inventory-item {
    font-family: 'IM Fell DW Pica', serif;
    background: linear-gradient(rgba(15, 122, 138, 0.95), rgba(54, 204, 227, 0.95));
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 8px;
    transition: 0.3s ease;
    color: #aefcff;
    border: 1px solid #c4fdff;
    font-size: 1.2em;
}

body.habitat-sapphire_springs .inventory-section::-webkit-scrollbar
{
    width: 5px;
}

body.habitat-sapphire_springs .inventory-item:hover {
    background: linear-gradient(rgba(19, 156, 177, 0.95), rgba(79, 213, 233, 0.95));
    cursor: pointer;
}

body.habitat-sapphire_springs .inventory-item.selected {
    border: 2px solid #effeff;
    background: linear-gradient(rgba(24, 191, 216, 0.95), rgba(112, 233, 252, 0.95));
    cursor: pointer;
}

body.habitat-sapphire_springs .inventory-section::-webkit-scrollbar-track {
    background: linear-gradient(rgba(10, 69, 78, 0.95), rgba(0, 149, 171, 0.95));
}
body.habitat-sapphire_springs .inventory-section::-webkit-scrollbar-thumb {
    background: linear-gradient(#00cfff, #c8e3ff);
    border-radius: 10px;
}

/*water fall */
body.habitat-divine_waterfall .inventory-section {
    color: #ffdca8;
    font-family: 'IM Fell DW Pica', serif;
    position: absolute;
    top: 50px;
    right: 10px;
    width: 300px;
    max-height: 800px;
    overflow-y: auto;
    background: linear-gradient(rgba(60, 10, 10, 0.95), rgba(126, 38, 38, 0.95)) ; /* deep crimson backdrop */
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 999;
    border: 3px solid transparent;
    background-image:
        linear-gradient(rgba(60, 10, 10, 0.95), rgba(126, 38, 38, 0.95)),
        linear-gradient(#b28500, #ffef94); /* crimson to gold gradient border */
    background-origin: border-box;
    background-clip: padding-box, border-box;
    font-weight: normal;
}

body.habitat-divine_waterfall .inventory-section h2 {
    text-align: center;
    margin-bottom: 15px;
    color: #ffd28f; /* regal gold */
    font-family: 'Cinzel Decorative', serif;
    font-weight: normal;
    text-shadow: 1px 1px 2px #5c0000;
}

body.habitat-divine_waterfall .inventory-item {
    font-family: 'IM Fell DW Pica', serif;
    background: linear-gradient(145deg, rgba(90, 20, 20, 0.95), rgba(120, 30, 30, 0.95)); /* muted red */
    border: 1px solid #ffe8b5; /* pale gold border */
    padding: 8px;
    border-radius: 8px;
    color: #ffd28f;
    font-size: 1.2em;
    transition: 0.3s ease, transform 0.2s ease;
}

body.habitat-divine_waterfall .inventory-item:hover {
    background: linear-gradient(rgba(120, 30, 30, 0.95),rgba(174, 56, 56, 0.95)); /* deeper hover red */
    transform: scale(1.02);
    cursor: pointer;
}

body.habitat-divine_waterfall .inventory-item.selected {
    border: 2px solid #ffee90;
    background: linear-gradient(rgba(145, 20, 20, 0.95),rgba(202, 77, 77, 0.95));
    cursor: pointer;
}

body.habitat-divine_waterfall .inventory-section::-webkit-scrollbar
{
    width: 5px;
}

body.habitat-divine_waterfall .inventory-section::-webkit-scrollbar-track {
    background: linear-gradient(rgba(145, 20, 20, 0.95),rgba(202, 77, 77, 0.95));
}
body.habitat-divine_waterfall .inventory-section::-webkit-scrollbar-thumb {
    background: linear-gradient(#b84f2e, #ffcc70);
    border-radius: 10px;
}


.item-name {
    font-weight: bold;
}

.item-type {
    font-style: italic;
    color: #666;
}

.item-status {
    margin-top: 5px;
    color: #2e7d32;
    font-size: 0.9em;
}

.inventory-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    float: right;
}

