/* Basic Reset */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Cinzel+Decorative:wght@400;700&family=Uncial+Antiqua&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/taskemon_blur.png');
    color: #ffe29f;
    font-family: 'IM Fell DW Pica', serif;
    padding-top: 210px; /* Adjust this depending on header height */
}


/* Container Styles */
.container {
    width: 85%;
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(18,26,19,0.95);
    border-radius: 12px;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.4);
    text-align: center;
    border: 3px solid transparent;
    background-image: 
        linear-gradient(rgba(18,26,19), rgba(18,26,19)),
        linear-gradient(#00ffaa, #00eaff);
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

h2 {
    font-size: 2.5em;
    color: #ffe29f;
    font-family: 'Cinzel Decorative', serif;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    background: rgba(39, 95, 100, 0.468);
    border: 1px solid #58d8e4;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
}

.input-container i {
    color: #ffe29f;
    font-size: 1.2em;
    margin-right: 10px;
}

.input-container input {
    width: 100%;
    border: none;
    background: transparent;
    color: #ffe29f;
    font-size: 1em;
    outline: none;
    padding: 8px;
}

.input-container input:focus {
    background: none;
    outline: none;
}

input[type="submit"] {
    background-color: #61f2ff;
    color: #5b5133;
    font-size: 1.2em;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: 'EB Garamond', serif;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #ffe29f;
    color: #241b2f;
}

/* Error Messages */
.error-message {
    color: red;
    font-size: 1em;
    margin-top: 10px;
    text-align: center;
}

/* "Don't have an account?" message */
.register-link a {
    color: #c7a557; /* Link color */
    font-size: 1em;
    text-align: center;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    color: #ffe29f; /* Hover color */
    text-decoration: underline;
}